<div>
  <h3>За мен</h3>
  <p>Здравейте, казвам се Георги Далеев, на 21 години съм и уча Софтуерни
    технологии и дизайн в ФМИ на ПУ.</p>
</div>
<div>
  <h3>Моите хобита и интереси</h3>
  <p>Хобитата са ми фитнес, нощни излизания, разходки сред природата, рисуване и
    слушане на музика. Имам интерес към front-end development.</p>
</div>
<div>
  <h3>Любим content creator</h3>
  <p>Линк към YouTube канала на един от любимите ми content creator-и: <a href="https://www.youtube.com/&#64;BroCodez" target="_blank">https://www.youtube.com/&#64;BroCodez</a></p>
</div>
<div>
  <h3>За канала ми</h3>
  <p>В моя канал CodeWithGeorgi феновете могат да очакват както обучителни видеа свързани с front-end разработката така и видеа от личния ми живот където показвам как хобитата ми помагат в креативния ми процес. Смятам да качвам 2 пъти в седмицата.</p>
</div>
<div>
  <h3>Моите услуги</h3>
  <p>
    Уеб дизайн на SPA: 100 - 300 лв.<br>
    Уеб дизайн на MPA: 300 - 800 лв.<br>
    Разработка на уеб страница с HTML, CSS и JavaScript: 150 - 400 лв.<br>
    Интеграция на допълнителни функционалности (например, форми за контакт, слайдъри и др.): 50 - 200 лв. допълнително към базовата цена<br>
    Оптимизация за мобилни устройства и резпонсивен дизайн: 50 - 150 лв. допълнително към базовата цена<br>
    Консултации и обучение по front-end разработка (на час): 20 - 50 лв.
  </p>
</div>
