<h3 class="section-title" (click)="toggleShow('infoForMe')">За мен</h3>
<div *ngIf="isSectionActive('infoForMe')">
  <p>
    Здравейте, казвам се Георги Далеев, на 21 години съм и уча Софтуерни
    технологии и дизайн в ФМИ на ПУ.
  </p>
</div>















<h3 class="section-title" (click)="toggleShow('hobbies')">Моите хобита и интереси</h3>
<div *ngIf="isSectionActive('hobbies')">
  <p>
    Хобитата са ми фитнес, нощни излизания, разходки сред природата, рисуване и
    слушане на музика. Имам интерес към front-end development.
  </p>
</div>

<h3 class="section-title" (click)="toggleShow('favContentCreator')">Любим content creator</h3>
<div *ngIf="isSectionActive('favContentCreator')">
  <p>
    Линк към YouTube канала на един от любимите ми content creator-и:
    <a href="https://www.youtube.com/&#64;BroCodez" target="_blank"
      >https://www.youtube.com/&#64;BroCodez</a
    >
  </p>
</div>

<h3 class="section-title" (click)="toggleShow('channelInfo')">За канала ми</h3>
<div *ngIf="isSectionActive('channelInfo')">
  <p>
    В моя канал CodeWithGeorgi феновете могат да очакват както обучителни видеа
    свързани с front-end разработката така и видеа от личния ми живот където
    показвам как хобитата ми помагат в креативния ми процес. Смятам да качвам 2
    пъти в седмицата.
  </p>
</div>

<h3 class="section-title" (click)="toggleShow('prices')">Моите услуги</h3>
<div *ngIf="isSectionActive('prices')">
  <p>
    Уеб дизайн на SPA: 100 - 300 лв.<br />
    Уеб дизайн на MPA: 300 - 800 лв.<br />
    Разработка на уеб страница с HTML, CSS и JavaScript: 150 - 400 лв.<br />
    Интеграция на допълнителни функционалности (например, форми за контакт,
    слайдъри и др.): 50 - 200 лв. допълнително към базовата цена<br />
    Оптимизация за мобилни устройства и резпонсивен дизайн: 50 - 150 лв.
    допълнително към базовата цена<br />
    Консултации и обучение по front-end разработка (на час): 20 - 50 лв.
  </p>
</div>
